.remote-sync.json
_**
~**
**Copy**
**config.json
**config.conf
**config.bat
**node_modules**
**test**
**temp**
**.mp4
**.log
**.txt
package-lock.json
**secret**
.remote-sync.json*
_**
**Copy**
**kopie**

*[a-zA-Z][0-9].*

**.mp4
**.svg
**.log

**dcu**
**~**
**sitemap**
**desktop**
cert/**
/sql
**node_modules**
/api/sql
/inc
/sites
/wav
/aim
/aim-connect
/aim-api
/test
/dev
/tmp
/google**
/**htaccess**

/lib/wav
**export**
**.bak**
